{% extends "index.html" %}
{% block contenido %}
<div class="column contenido">
	<h2>Bienvenido a la Práctica 3: ejercicio1 de DAI.</h2></br>
	<p>Página básica para comprobar que funciona el ejercicio 1 de la tercera práctica.</p></br>
	<div class="section">
		<a href="hola1"> <span>Hola 1</span></a>
	 </div>
	 <div class="section">
		<a href="#"> <span>Estás en Hola 2</span></a>
	 </div>
	 <div class="section">
		<a href="hola3"><span>Hola 3</span></a>
	 </div>
	 <div class="section">
		<a href="hola4"> <span>Hola 4</span></a>
	 </div>	
</div>


{% endblock %}
