% extends "index.html" %}
{% block contenido %}
<div class="column contenido">
	<h2>Bienvenido a la Práctica 3: ejercicio1 de DAI.</h2></br>
	<p>Página para ver ingresar usuarios, solo si estas identificado.</p></br>

	{% if not username %}		
		<div id='identificador'>
			<p>No está regsitrado en la página. Pulse inicio para loguearse. </p>
			<a href="/"> <span>Inicio</span></a
		 </div>
	{% else %}

		<div >
		
			<form action="/registro" method="POST">
				
				<input type="text" name="username" placeholder="Correo.."></input>
				<input type="password" name="clave" placeholder="Contraseña.."></input>
				<input type="submit" value="Enviar"/>
				
			</form>
				<a href="/"> <span>Inicio</span></a
		</div>
		{% endif %}
	 
>
</div>


{% endblock %}
